html,
body {
  height: 100%;
  background-color: grey;
  font-family: "Roboto", sans-serif;
}

.global-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: cyan;
}
form {
  padding-top: 10px;
  font-size: 14px;
  margin-top: 30px;
}
.login-form {
  width: 380px;
  height: 450px;
  margin: 20px;
  background-color: black;
}
input[type="email"],
input[type="password"] {
  border-radius: 10px;
  border: 2px solid aqua;
  margin-bottom: 20px;
}
.btn {
  background: aqua;
  font-size: 14px;
  color: black;
  transform: translateY(10px);
  border-radius: 10px;
}
.signup {
  text-align: center;
  margin-top: 10px;
}
